
*{
   padding: 0; margin: 0;
   box-sizing: border-box;
   letter-spacing: 4px;
}
body{
   background: rgb(4, 4, 13);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#card{
   width: 1000px;
   height: 500px;
   background: #000;
   position: relative;
}
#card::before{
   content: "";
   position: absolute;
   top: -5px;
   left: -5px;
   width: 5%;
   height: 5%;
   border-top: 5px solid #15ffeb;
   border-left: 5px solid #15ffeb;
   transition: all 0.5s;
   z-index: -1;
}
#card:hover:before{
   width: 100%;
   height: 100%;
}
#card::after{
   content: "";
   position: absolute;
   bottom: -5px;
   right: -5px;
   width: 5%;
   height: 5%;
   border-bottom: 5px solid #15ffeb;
   border-right: 5px solid #15ffeb;
   transition: all 0.5s;
   z-index: -1;
}
#card:hover:after{
   width: 100%;
   height: 100%;
}
#avatar{
   position: absolute;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 4px solid aqua;
   left: 50%;
   transform: translate(-50%);
   top: -60px;
   overflow: hidden;
   box-shadow: 0px 0px 5px aqua,0px 0px 10px aqua,0px 0px 20px aqua;
}
#avatar img{
   max-width: 100%;  
}
#intro{
   margin-top: 200px;
}
#intro .name{
   text-align: center;
   text-transform: uppercase;
   color: #841fea;
   font-weight: bold;
   font-size: 20px;
   text-shadow:1px 1px 1px  rgb(179, 178, 178);
}
#intro .intro{
   text-align: center;
   color: #FFf;
   margin-top: 10px;

}
#intro .location{
   text-align: center;
  color: #FFf;
  margin-top: 20px;
}
.social-network .mail{
   color: #fff;
   font-size: 20px;
   margin-top: 40px;
   text-align: center;
}